.rootContainer {
    display: flex;
    margin: 60px 30px;
}

.videoContainer {
    width: 40%;
    min-width: 600px;
    margin-right: 4%;
}

.sideContainer {
    width: 48%;
}

.sideContainer:nth-child(even) {
    margin-bottom: 50px;
}