<div class="mainpageContainer">
  <div class="videoContainer">
    <pipco-video *ngIf="this.videoSource" [srcUrl]=this.videoSource #video></pipco-video>
    <pipco-video-settings></pipco-video-settings>
  </div>
  <div class="sideContainer">
    <div class="sideElement">
      <pipco-event-log title_name="Motion Detection" (recording)="this.onPlayRecording($event)"></pipco-event-log>
    </div>
    <div class="sideElement">
      <pipco-fr-event-log title_name="Face Recognition" (recording)="this.onPlayRecording($event)"></pipco-fr-event-log>
    </div>
<!-- Personen Formular -->
    <div class="sideElement"> 
        <pipco-person-formular></pipco-person-formular>
</div>
    <div class="sideElement">
      <pipco-email-notification></pipco-email-notification>
    </div>
  </div>
</div>
