.headerContainer {
    background-image: linear-gradient(to right, #0b2b54, #1f437c, #345da6, #4b77d1, #6493ff);
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 18px 36px 18px 0;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 40px;
}

img {
    cursor: pointer;
    user-select: none;
}

.icon {
    height: 40px;
    width: 40px;
    margin-top: 6px;
}

.logoutIcon {
    height: 34px;
    width: 34px;
}