<div class="headerContainer">
  <img alt="PIPCO" src="assets/img/pipco_logo_white.svg" (click)="refresh()" title="Refresh Page">
  <div class="iconContainer">
    <a *ngIf="this.router.url === '/settings'" routerLink="/main"><img class="icon" title="Home" alt="Home" src="assets/img/home.svg"></a>
    <a *ngIf="this.router.url === '/main'" routerLink="/settings"><img class="icon" title="Settings" alt="Settings" src="assets/img/settings.svg"></a>
    <img *ngIf="this.authService?.isAuthenticated === true" class="logoutIcon" (click)="logout()" title="Logout" alt="Logout" src="assets/img/logout.svg">
  </div>
</div>