.titleBarContainer {
    background: #f3f6fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 4px solid #1DBAE1;
    padding: 13px 18px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #474747;
}

.toggleSwitchContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.toggleSwitchText {
   margin: 0 14px;
   color: rgb(184, 184, 184); 
}