.eventLogContainer {
    height: 500px;
    border: 1px solid #f9f9f9;
    min-width: 500px;
    box-shadow: 3px 3px 12px 0px #0000001a;
    display: flex;
    flex-direction: column;
}

.deleteButton {
    width: 26px;
    height: 26px;
    transform: rotate(45deg);
    user-select: none;
    cursor: pointer;
    background: transparent;
    color: #ff0000;
    font-size: 24px;
}

.tableContainer {
    height: 100%;
    border-top: 1px solid #f9f9f9;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tableHeadRow {
    padding: 10px 20px 10px 0;
}

.tableRow {
    padding-left: 10px;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}

.tableRow:nth-child(odd) {
    background: #f9f9f999;
}

.tableCell {
    font-family: "Roboto";
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableHead {
    padding: 8px 4px;
    font-size: 16px;
    color: #4F4F4F;
}

.tableHeadRow .tableHead:first-of-type {
    font-weight: bold;
}

.tableRow .tableCell:first-of-type {
    justify-content: flex-start;
}

.thumbnail {
    margin-left: 5px;
    transition: all .1s ease-in-out;
    height: 40px;
}

.thumbnail:hover {
    transform: scale(1.36);
}

.columnThumbnail {
    padding: 6px;
    cursor: pointer;
    flex-basis: 20%;
}

.columnTimestamp {
    flex-basis: 34%;
}

.columnMessage {
    flex-basis: 36%;
}

.columnDelete {
    flex-basis: 10%;
}