.eventLogContainer {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f9f9f9;
    min-width: 500px;

    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.1);
}

.deleteButton {
    transform: rotate(45deg);
    user-select: none;

    cursor: pointer;
    width: 26px;
    height: 26px;
    vertical-align: center;
    color: red;
    background: transparent;
    font-size: 24px;
}

.tableHeadRow {
    width: 100%;
    justify-content:  space-between;
    padding: 10px 16px 10px 0;
}

.tableContainer {
    height: 440px;
    border-width: 1px 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tableRow {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    border-bottom: #f2f2f2 1px solid;
}

.tableRow:nth-child(odd) {
    background: rgba(249,249,249,0.6);
}

.tableCell {
    padding: 0px 4px;
    display: flex;
    text-align: center;
    line-height: 100%;
    align-items: center;
    justify-content: center;
}

.tableCellWide{
    justify-content: flex-start;
}

.tableHead {
    padding: 8px 4px;
    font-family: "Roboto";
    font-size: 12px;
}

.tableHeadRow .tableHead:first-of-type {
    font-weight: bold;
}

.tableHead, 
.center {
    display: flex;
    align-items: center; 
}

.columnThumbnail {
    max-width: 70px;
    max-height: 50px;
    padding: 10px;
    cursor: pointer;
    flex-basis: 10%;
}

.thumbnail {
    transition: all .1s ease-in-out;
    max-width: 50px;
    max-height: 40px;
}

.thumbnail:hover {
    transform: scale(1.3);
}

.columnTimestamp {
    flex-basis: 40%;
}

.columnMessage {
    flex-basis: 40%;
}

.columnDelete {
    flex-basis: 10%;
}