<div class="eventLogContainer">
    <pipco-title-bar title="Event Log" [isEnabled]="this.isEnabled"></pipco-title-bar>

    <div class="tableRow columnTitlesRow">
        <div class="tableHead tableCell columnThumbnail">Thumbnail</div>
        <div class="tableHead tableCell columnTimestamp">Timestamp</div>
        <div class="tableHead tableCell columnMessage">Message</div>
        <div class="tableHead tableCell columnDelete">Delete</div>
    </div>
    <div class="tableContainer">
        <div class="tableRow" *ngFor="let eventLogEntry of this.eventLogEntries">
            <img class="tableCell columnThumbnail" alt="Thumbnail" [src]=eventLogEntry.thumbnailSrc>
            <div class="tableCell columnTimestamp">{{ eventLogEntry.timestamp.toLocaleString() }}</div>
            <div class="tableCell columnMessage">{{ eventLogEntry.message }}</div>
            <div class="tableCell columnDelete">
                <button type="button" class="deleteButton" (click)="this.removeEventLogEntry(eventLogEntry)">+</button>
            </div>
        </div>
    </div>
  </div>
