<div class="eventLogContainer">
    <pipco-title-bar title="Event Log" [isEnabled]="this.isEnabled"></pipco-title-bar>

    <div class="tableRow columnTitlesRow">
        <div class="tableHead tableCell headAdress">Thumbnail</div>
        <div class="tableHead tableCell tableCellWide headNotify">Time</div>
        <div class="tableHead tableCell tableCellWide headDelete">Message</div>
        <div class="tableHead tableCell headDelete">Delete</div>
    </div>
    <div class="tableContainer">
        <div class="tableRow" *ngFor="let eventLogEntry of this.eventLogEntries">
            <img class="tableCell thumbnail" alt="Thumbnail" [src]=eventLogEntry.thumbnailSrc>
            <div class="tableCell tableCellWide">{{ eventLogEntry.timestamp.toLocaleString() }}</div>
            <div class="tableCell tableCellWide">{{ eventLogEntry.message }}</div>
            <div class="tableCell columnDelete">
                <button type="button" class="deleteButton" (click)="this.removeEventLogEntry(eventLogEntry)">+</button>
            </div>
        </div>
    </div>
  </div>
