<div class="container">
  <img alt="PIPCO" src="assets/img/pipco_logo_blue.svg">
  <div class="loginText">
    <h1>Login</h1>
    <p>Please enter your username and password for authentication.</p>
  </div>

  <form class="loginForm" (submit)="login($event)">
    <div>
        <input type="text" id="username" placeholder="Username" required>
    </div>
    <div>
        <input type="password" id="password" placeholder="Password" required>
    </div>
    <p *ngIf="this.wrongLoginInformation" class="errorText">
      Wrong username or password.
    </p>
    <div>
        <button type="submit">Login</button>
    </div>
  </form>
</div>