<div class="loginContainer">
  <img alt="PIPCO" src="assets/img/pipco_logo_blue.svg">
  <div class="loginText">
    <div class="loginTitle">LOGIN</div>
    <div class="loginSubtitle">Please enter your username and password.</div>
  </div>

  <form class="loginForm" (submit)="login($event)">
    <div><input type="text" id="username" placeholder="Username" required></div>
    <div><input type="password" id="password" placeholder="Password" required></div>
    <div class="submitSection">
        <button type="submit">LOGIN</button>
        <div *ngIf="this.errorText" class="errorText">
          {{ this.errorText }}
        </div>
        <img *ngIf="this.isLoading" class="loadingGif" src="assets/img/loading_grey.gif">
    </div>
  </form>
</div>