.videoSettingsContainer {
    width: 100%;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
}

.componentTitle {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #474747;
    margin-bottom: 8px;
}

.sectionTitle {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #474747;
    margin: 16px 0 2px 0;
}