<div class="videoSettingsContainer" *ngIf="this.settings">
    <div class="componentTitle">Video Settings</div>

    <div class="sectionTitle">Sensitivity</div>
    <pipco-range-slider [min]="0" [max]="1" [step]="0.1" [(value)]="this.settings.sensitivity" (change)="this.changeSettings({sensitivity: $event.target['value']})" [color1]="'#431ede'"></pipco-range-slider>
    
    <div class="sectionTitle">Contrast</div>
    <pipco-range-slider [min]="0" [max]="1" [step]="0.1" [(value)]="this.settings.contrast" (change)="this.changeSettings({contrast: $event.target['value']})" [color1]="'#26b6d9'"></pipco-range-slider>
    
    <div class="sectionTitle">Brightness</div>
    <pipco-range-slider [min]="0" [max]="1" [step]="0.1" [(value)]="this.settings.brightness" (change)="this.changeSettings({brightness: $event.target['value']})" [color1]="'#4987f6'"></pipco-range-slider>
</div>