<div *ngIf="this.settings" class="settingsPageContainer">
    <div class="componentTitle">Settings</div>
  
    <div class="sectionTitle">Source Livestream URL</div>
    <form class="updateSettingForm" (submit)="this.onSettingsSave({streamaddress: $event.target['streamAddressTextbox'].value}, 'streamUrlStatus')">
        <input type="text" id="streamAddressTextbox" class="textBoxLarge" value="{{ this.settings.streamaddress }}" (input)="this.onSettingsChange($event.target.value, 'streamaddress', 'streamUrlStatus')" required>
        <pipco-status-button text="SAVED" [status]="this.statusObject.streamUrlStatus"></pipco-status-button>
    </form>

    <div class="sectionTitle">Maximum Clip Length</div>
    <form class="updateSettingForm" (submit)="this.onSettingsSave({cliplength: $event.target['cliplengthTextBox'].value}, 'clipLengthStatus')">
      <div class="inputAfterTextWrapper">
          <input type="text" id="cliplengthTextBox" class="textBoxSmall" value="{{ this.settings.cliplength }}" (input)="this.onSettingsChange($event.target.value, 'cliplength', 'clipLengthStatus')" required>
          <div class="inputAfterText">Seconds</div>
      </div>
      <pipco-status-button text="SAVED" [status]="this.statusObject.clipLengthStatus"></pipco-status-button>
    </form>

    <div class="sectionTitle">Maximum Clip Count</div>
    <form class="updateSettingForm" (submit)="this.onSettingsSave({max_logs: $event.target['maxLogsTextBox'].value}, 'clipCountStatus')">
        <input type="text" id="maxLogsTextBox" class="textBoxSmall" value="{{ this.settings.max_logs }}" (input)="this.onSettingsChange($event.target.value, 'max_logs', 'clipCountStatus')" required>
        <pipco-status-button text="SAVED" [status]="this.statusObject.clipCountStatus"></pipco-status-button>
    </form>

    <div class="sectionTitle">Maximum Clip Storage</div>
    <form class="updateSettingForm" (submit)="this.onSettingsSave({max_storage: $event.target['maxStorageTextBox'].value}, 'clipStorageStatus')">
      <div class="inputAfterTextWrapper">
          <input type="text" id="maxStorageTextBox" class="textBoxSmall" value="{{ this.settings.max_storage }}" (input)="this.onSettingsChange($event.target.value, 'max_storage', 'clipStorageStatus')" required>
          <div class="inputAfterText">MegaByte</div>
      </div>
      <pipco-status-button text="SAVED" [status]="this.statusObject.clipStorageStatus"></pipco-status-button>
    </form>

    <div class="sectionTitle">E-Mail Notification for unknown persons</div>
    <form class="updateSettingForm" (submit)="this.onSettingsSave({mail_notification: $event.target['mail_notification'].value}, 'mailnotificationStatus')">
      <div class="inputAfterTextWrapper">
          <input type="text" id="mailnotificationTextBox" class="textBoxSmall" value="{{ this.settings.mail_notification }}" (input)="this.onSettingsChange($event.target.value, 'mail_notification', 'mailnotificationStatus')" required>
      </div>
      <pipco-status-button text="SAVED" [status]="this.statusObject.clipStorageStatus"></pipco-status-button>
    </form>

    <div class="backupButtonWrapper">
        <button id="backupButton" (click)="this.downloadBackup()">DOWNLOAD BACKUP<br>(may take several minutes)</button>
        <img *ngIf="this.downloadingBackup" class="loadingGif" src="assets/img/loading_grey.gif">    
    </div>
    
    <button id="returnButton" (click)="this.returnToMainPage()">RETURN TO MAIN PAGE</button>
</div>

<pipco-person-formular></pipco-person-formular>