.emailNotificationContainer {
    height: 220px;
    border: 1px solid #f9f9f9;
    min-width: 500px;
    box-shadow: 3px 3px 12px 0px #0000001a;
    display: flex;
    flex-direction: column;
}

.deleteButton {
    width: 26px;
    height: 26px;
    transform: rotate(45deg);
    user-select: none;
    cursor: pointer;
    background: transparent;
    color: #ff0000;
    font-size: 24px;
}

.addEmailAddressForm {
    display: flex;
    align-items: center;
    padding: 15px 0 10px 13px;
    font-size: 12px;
}

.addEmailAddressForm button {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #d3d3d3;
    color: #a0a0a0;
    font-weight: 800;
    flex-shrink: 0;
    box-shadow: 0px 0px 1px 0px #00000099;
}

.addEmailAddressForm input {
    margin-left: 14px;
    height: 30px;
    width: 100%;
}

.tableContainer {
    height: 100%;
    border-top: 1px solid #f9f9f9;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tableHeadRow {
    flex-shrink: 0;
    padding: 10px 16px 10px 0;
}

.tableRow {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    border-bottom: #f2f2f2 1px solid;
}

.tableRow:nth-child(even) {
    background: rgba(249,249,249,0.6);
}

.tableCell {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: center;
}

.tableHead {
    font-family: "Roboto";
    font-size: 16px;
    color: #4F4F4F;
}

.tableHeadRow .tableHead:first-of-type {
    flex-basis: 60%;
    justify-content: flex-start;
    font-weight: bold;
}

.tableRow .tableCell:first-of-type {
    flex-basis: 60%;
    justify-content: flex-start;
}