<div class="emailNotificationContainer">
    <div class="titleBar">
      <p>E-Mail Notifications</p>
      <pipco-toggle-switch [switchValue]=this.isEnabled></pipco-toggle-switch>
    </div>

    <form class="addEmail" (submit)="this.addEmail($event)">
        <button type="submit">+</button>
        <input type="email" id="email" placeholder="Add E-Mail" required>
    </form>

    <div class="tableRow columnTitlesRow">
        <div class="tableHead tableCell tableCellWide headAdress">E-Mail Adress</div>
        <div class="tableHead tableCell headNotify">Notifications</div>
        <div class="tableHead tableCell headDelete">Delete</div>
    </div>
    <div class="tableContainer">
      <div class="tableRow" *ngFor="let notificationEmail of this.notificationEmails">
          <div class="tableCell tableCellWide columnAdress">{{ notificationEmail.emailAdress }}</div>
          <div class="tableCell columnNotify">
              <input class="" type="checkbox" [checked]="notificationEmail.notify" (input)="this.toggleEmailNotifications($event, notificationEmail)">
          </div>
          <div class="tableCell columnDelete">
            <button type="button" class="deleteButton" (click)="this.removeEmail(notificationEmail)">+</button>
          </div>
      </div>
    </div>
  </div>
