<div class="emailNotificationContainer">
    <pipco-title-bar title="E-Mail Notifications" [isEnabled]="this.isEnabled"></pipco-title-bar>

    <form class="addEmail" (submit)="this.addEmail($event)">
        <button type="submit">+</button>
        <input type="email" id="email" placeholder="Add E-Mail" required>
    </form>

    <div class="tableRow columnTitlesRow">
        <div class="tableHead tableCell tableCellWide">E-Mail Adress</div>
        <div class="tableHead tableCell headNotify">Notifications</div>
        <div class="tableHead tableCell headDelete">Delete</div>
    </div>
    <div class="tableContainer">
      <div class="tableRow" *ngFor="let notificationEmail of this.notificationEmails">
          <div class="tableCell tableCellWide columnAdress">{{ notificationEmail.address }}</div>
          <div class="tableCell columnNotify">
              <input type="checkbox" [(ngModel)]="notificationEmail.notify" (change)="this.toggleEmailNotificationStatus($event, notificationEmail)">
              <!-- (input)="this.toggleEmailNotificationStatus($event, notificationEmail)" -->
          </div>
          <div class="tableCell columnDelete">
            <button type="button" class="deleteButton" (click)="this.removeEmail(notificationEmail.id)">+</button>
          </div>
      </div>
    </div>
  </div>
