button {
    width: 130px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    background: #5A8BFF;
    color: #fff;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

img {
    height: 30px;
    margin-left: 10px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.errorImg {
    height: 20px;
}