.toggleSwitchContainer {
	display: flex;
}

.switchElement {
	margin: 0 10px;
}

p {
	color: #d3d3d3;
	cursor: default;
	user-select: none;
}

input[type=checkbox] {
    display: none;
}

label {
    cursor: pointer;
	width: 40px;
	height: 18px;
	background: grey;
	display: block;
	border-radius: 18px;
	position: relative;
	border: 1px solid grey;
}

label:after {
	content: '';
	position: absolute;
	top: 0.5px;
    left: 0px;
    bottom: 1px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 100%;
	transition: 0.3s;
}

input:checked + label {
	background: #8ab9ed;
	border: 1px solid #4E7AB5;
}

input:checked + label:after {
	left: calc(100% - 1px);
	transform: translateX(-100%);
}
