.rangeSliderContainer {
    width: 100%;
}

.rangeSlider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;   
    outline: none;
}

.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 12px;
    height: 24px;
    border-radius: 4px; 
    background: rgb(119, 119, 119);
    cursor: -webkit-grabbing;
    cursor: grabbing;
}