.eventLogContainer {
    height: 250px;
    border: 1px solid #f9f9f9;
    min-width: 500px;
    -webkit-box-shadow: 3px 3px 12px 0px #0000001a;
            box-shadow: 3px 3px 12px 0px #0000001a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.deleteButton {
    width: 26px;
    height: 26px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    background: transparent;
    color: #ff0000;
    font-size: 24px;
}

.tableContainer {
    height: 100%;
    border-top: 1px solid #f9f9f9;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tableHeadRow {
    padding: 10px 20px 10px 0;
}

.tableRow {
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}

.tableRow:nth-child(odd) {
    background: #f9f9f999;
}

.tableCell {
    font-family: "Roboto";
    padding: 2px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.tableHead {
    padding: 8px 4px;
    font-size: 16px;
    color: #4F4F4F;
}

.tableHeadRow .tableHead:first-of-type {
    font-weight: bold;
}

.tableRow .tableCell:first-of-type {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.thumbnail {
    margin-left: 5px;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    height: 40px;
    cursor: pointer;
}

.thumbnail:hover {
    -webkit-transform: scale(1.36);
        -ms-transform: scale(1.36);
            transform: scale(1.36);
}

.columnThumbnail {
    padding: 6px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
}

.columnTimestamp {
    -ms-flex-preferred-size: 34%;
        flex-basis: 34%;
}

.columnMessage {
    -ms-flex-preferred-size: 36%;
        flex-basis: 36%;
}

.columnDelete {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
}